@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(229, 231, 235);
} 
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(59, 67, 86);
  color: #fff;
  display: flex;
  flex-direction: column;
}
.sidebar h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(237, 240, 247)
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}
.sidebar a:hover {
  background-color: rgb(59, 67, 86)555;
}
.navbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background-color: rgb(237, 240, 247);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.main-content {
  width: calc(100% -150px);
  margin-left: 250px;
}
.page{
  margin-top: 60px;
  padding: 20px;
}

.login_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

